doctype html 
html(lang="en")
    head 
        title Flash Cards 
    body 
        include includes/header.pug
        //lets pug know that any template extending this, can inject its html there
        block content
        include includes/footer.pug